<p id="notice"><%= notice %></p>

<h1 class="title">Pokemon</h1>
<body id="index">
<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Type1</th>
      <th>Type2</th>
      <th>Ability 1</th>
      <th>Ability 2</th>
      <th>Hidden ability</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
</table>
<form class="form">
  <div class="col1">
  <input type="text" name:"Pokemon" class="input" placeholder="Pokemon">
  <br>
  <input type="text" name:"type1" class="input" placeholder="Type 1">
  <br>
  <input type="text" name:"type2" class="input" placeholder="Type 2">
</div>
<div class="col2">
  <input type="text" name:"ability1" class="input" placeholder="Ability 1">
<br>
  <input type="text" name:"ability2" class="input" placeholder="Ability 2">
<br>
  <input type="text" name:"hidden_ability" class="input" placeholder="Hidden Ability">
</div>
</div>
</form>
<%= link_to "!", new_pokemon_path, class: "btn btn-lg btn-primary" %>

</table>
</body>
