<p id="notice"><%= notice %></p>
<%= link_to "Sign up now!", signup_path, class: "button" %>
<p class="notify"> Sign up to use the pokedex! </p>
<body id="index1">
<%= link_to "Log in", login_path, class: "login_button" %>
<p class="login_notify"> Or log in! </p>
</body>
