<p id="notice"><%= notice %></p>
<%= link_to "Sign up now!", signup_path, class: "button" %>
<p class="notify"> Sign up to use the pokedex! </p>
<body id="index1">
<%= link_to "Sign in", signup_path, class: "sign_in_button" %>
<p class="sign_in_notify"> Or sign in! </p>
</body>
