// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index{
  background-image: url('/assets/pokedex.gif');
  // background-color: red;
  background-repeat: no-repeat;
  .title{
    display: none;
  }
  .form{
    margin-top: 140px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    width: 250px;
  .col1{
display: block;
  }
  .col2{
    display: block;
  }
    .input{
      border: 2px solid black;
      width: 100px;
      padding: 5px;
      display: block;
    }
  }
  .submit{
    // display: none;
    z-index: 99;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 95px;
    color: white;
  }
}
